<div class="wrap">
<!----start-img-cursual---->
  <div id="owl-demo" class="owl-carousel">
    <div class="item" onclick="location.href='details.html';">
      <div class="cau_left">
        <%= image_tag "c1.jpg", class: "lazyOwl" %>
      </div>
      <div class="cau_left">
        <h4><a href="details.html">branded shoes</a></h4>
        <a href="details.html" class="btn">shop</a>
      </div>
    </div>  
    <div class="item" onclick="location.href='details.html';">
      <div class="cau_left">
        <%= image_tag "c2.jpg", class: "lazyOwl" %>
      </div>
      <div class="cau_left">
        <h4><a href="details.html">branded tees</a></h4>
        <a href="details.html" class="btn">shop</a>
      </div>
    </div>  
    <div class="item" onclick="location.href='details.html';">
      <div class="cau_left">
        <%= image_tag "c3.jpg", class: "lazyOwl" %>
      </div>
      <div class="cau_left">
        <h4><a href="details.html">branded jeens</a></h4>
        <a href="details.html" class="btn">shop</a>
      </div>
    </div>  
    <div class="item" onclick="location.href='details.html';">
      <div class="cau_left">
        <%= image_tag "c2.jpg", class: "lazyOwl" %>
      </div>
      <div class="cau_left">
        <h4><a href="details.html">branded tees</a></h4>
        <a href="details.html" class="btn">shop</a>
      </div>
    </div>  
    <div class="item" onclick="location.href='details.html';">
      <div class="cau_left">
        <%= image_tag "c1.jpg", class: "lazyOwl" %>
      </div>
      <div class="cau_left">
        <h4><a href="details.html">branded shoes</a></h4>
        <a href="details.html" class="btn">shop</a>
      </div>
    </div>  
    <div class="item" onclick="location.href='details.html';">
      <div class="cau_left">
        <%= image_tag "c2.jpg", class: "lazyOwl" %>
      </div>
      <div class="cau_left">
        <h4><a href="details.html">branded tees</a></h4>
        <a href="details.html" class="btn">shop</a>
      </div>
    </div>  
    <div class="item" onclick="location.href='details.html';">
      <div class="cau_left">
        <%= image_tag "c3.jpg", class: "lazyOwl" %>
      </div>
      <div class="cau_left">
        <h4><a href="details.html">branded jeens</a></h4>
        <a href="details.html" class="btn">shop</a>
      </div>
    </div>
  </div>
</div>