<div class="header_bg">
  <div class="wrap">
    <div class="header">
      <div class="logo">
        <%= link_to image_tag("logo.png"), root_path %>
      </div>
      <div class="h_icon">
        <ul class="icon1 sub-icon1">
          <li><a class="active-icon c1" href="#"><i>$300</i></a>
            <ul class="sub-icon1 list">
              <li><h3>shopping cart empty</h3><a href=""></a></li>
              <li><p>if items in your wishlit are missing, <a href="contact.html">contact us</a> to view them</p></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="h_search">
        <form>
          <input type="text" value="">
          <input type="submit" value="">
        </form>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="header_btm">
  <div class="wrap">
    <div class="header_sub">
      <div class="h_menu">
        <ul>
          <li class="<%= yield(:products) %>">
            <%= link_to "Home", root_path %>
          </li> |
          <% header_categories.each do |c| %>
            <% category_id = "category_#{c.id}".to_sym %>
            <li>
              <%= link_to c.category, store_search_products_path(c.id), 
                          class: "#{yield(category_id)}" %>
            </li> |
          <% end %>
          <li><%= link_to 'services', store_services_path %></li> |
          <li><%= link_to 'Contact us', store_contact_path %></li>
        </ul>
      </div>
      <div class="clear"> </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

