<div class="product-view">
    <div class="product-essential">
      <div class="product-img-box">
        <div class="more-views" style="float:left;">
          <div class="more-views-container">
            <ul>
              <li>
                <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" style="width:64px;height:85px;" href=""  title="" alt="">
                <img src="" src_main=""  title="" alt="" /></a>
              </li>
              <li>
                <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" style="width:64px;height:85px;" href=""  title="" alt="">
                <img src="" src_main=""  title="" alt="" /></a>
              </li>
              <li>
                <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" style="width:64px;height:85px;" href=""  title="" alt="">
                <img src="" src_main=""  title="" alt="" /></a> 
              </li>
              <li>
                <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" style="width:64px;height:85px;" href=""  title="" alt="">
                <img src="" src_main="" title="" alt="" /></a>  
              </li>
              <li>
                <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" style="width:64px;height:85px;" href=""  title="" alt="">
                <img src="" src_main="" title="" alt="" /></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="product-image"> 
          <a class="cs-fancybox-thumbs cloud-zoom" rel="adjustX:30,adjustY:0,position:'right',tint:'#202020',tintOpacity:0.5,smoothMove:2,showTitle:true,titleOpacity:0.5" data-fancybox-group="thumb" href="" title="Women Shorts" alt="Women Shorts">
            <%= image_tag '0001-2.jpg' %>
          </a>
       </div>


      <script type="text/javascript">
        var image = {
          main_orig: "<%= raw asset_url('0001-2.jpg') %>",
          main_main: "<%= raw asset_url('0001-2.jpg') %>",
          main_thumb: "<%= raw asset_url('small/0001-2.jpg') %>",

          gallery_orig: "<%= raw asset_url('0001-2.jpg') %>",
          gallery_main: "<%= raw asset_url('large/0001-2.jpg') %>",
          gallery_thumb: "<%= raw asset_url('small/0001-2.jpg') %>",

          item_1_orig: "<%= raw asset_url('0001-1.jpg') %>",
          item_1_main: "<%= raw asset_url('large/0001-1.jpg') %>",
          item_1_thumb: "<%= raw asset_url('small/0001-1.jpg') %>",

          item_2_orig: "<%= raw asset_url('0001-5.jpg') %>",
          item_2_main: "<%= raw asset_url('large/0001-5.jpg') %>",
          item_2_thumb: "<%= raw asset_url('small/0001-5.jpg') %>",

          item_3_orig: "<%= raw asset_url('0001-3.jpg') %>",
          item_3_main: "<%= raw asset_url('large/0001-3.jpg') %>",
          item_3_thumb: "<%= raw asset_url('small/0001-3.jpg') %>",

          item_4_orig: "<%= raw asset_url('0001-4.jpg') %>",
          item_4_main: "<%= raw asset_url('large/0001-4.jpg') %>",
          item_4_thumb: "<%= raw asset_url('small/0001-4.jpg') %>"

        }

        var prodGallery = jQblvg.parseJSON('{"prod_1":{"main":{"orig":"' + image.main_orig + '","main":"' + image.main_main + '","thumb":"'+ image.main_thumb +'","label":""},"gallery":{"item_0":{"orig":"' + image.gallery_orig + '","main":"' + image.gallery_main + '","thumb":"' + image.gallery_main + '","label":""},"item_1":{"orig":"' + image.item_1_orig + '","main":"' + image.item_1_main + '","thumb":"' + image.item_1_thumb + '","label":""},"item_2":{"orig":"' + image.item_2_orig + '","main":"' + image.item_2_main + '","thumb":"' + image.item_2_thumb + '","label":""},"item_3":{"orig":"' + image.item_3_orig + '","main":"' + image.item_3_main + '","thumb":"' + image.item_3_thumb + '","label":""},"item_4":{"orig":"' + image.item_4_orig + '","main":"' + image.item_4_main + '","thumb":"' + image.item_4_thumb + '","label":""}},"type":"simple","video":false}}'),
            gallery_elmnt = jQblvg('.product-img-box'),
            galleryObj = new Object(),
            gallery_conf = new Object();

        gallery_conf.moreviewitem = '<a class="cs-fancybox-thumbs" data-fancybox-group="thumb" style="width:64px;height:85px;" href=""  title="" alt=""><img src="" src_main="" width="64" height="85" title="" alt="" /></a>';
        gallery_conf.animspeed = 200;

        jQblvg(document).ready(function() {
          galleryObj[1] = new prodViewGalleryForm(prodGallery, 'prod_1', gallery_elmnt, gallery_conf, '.product-image', '.more-views', 'http:');
          jQblvg('.product-image .cs-fancybox-thumbs').absoluteClick();
          jQblvg('.cs-fancybox-thumbs').fancybox({ prevEffect: 'none',
                                                   nextEffect: 'none',
                                                   closeBtn: true,
                                                   arrows: true,
                                                   nextClick: true,
                                                   helpers: {
                                                     thumbs: {
                                                       width: 64,
                                                       height: 85,
                                                       position: 'bottom'
                                                     }
                                                   }
                                                  });
          jQblvg('#wrap').css('z-index', '100');
          jQblvg('.more-views-container').elScroll({type: 'vertical', elqty: 4, btn_pos: 'border', scroll_speed: 400 });
        });

        function initGallery(a,b,element) {
            galleryObj[a] = new prodViewGalleryForm(prods, b, gallery_elmnt, gallery_conf, '.product-image', '.more-views', '');
        };
      </script>
    </div>
  </div>
</div>
