<!DOCTYPE html>
<html>
  <head>
  <title><%= yield(:title)%> | Clothes store</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'shared/header' %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "wrap alert #{bootstrap_class_for(key)} flash") %>
    <% end %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
