<!DOCTYPE html>
<html>
  <head>
  <title><%= yield(:title)%> | Electronics store</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      $(function() {
        $('#da-slider').cslider();
      });
    </script>
    <script>
        $(document).ready(function() {

          $("#owl-demo").owlCarousel({
            items : 4,
            lazyLoad : true,
            autoPlay : true,
            navigation : true,
          navigationText : ["",""],
          rewindNav : false,
          scrollPerPage : false,
          pagination : false,
          paginationNumbers: false,
          });
        });
    </script>

    <script type="text/javascript">
      // jQuery(document).ready(function($) {
      //   $(".scroll").click(function(event){   
      //     event.preventDefault();
      //     $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
      //   });
      // });
    </script>

  </head>
  <body>
    <%= render 'shared/header' %>

    <%= yield %>

    <%= render 'shared/footer' %>

  </body>
</html>
